body table{
	font-family: Verdana;
	font-size: 12px;
	color: #888888;
}

.progressBar {
	background-color: #cccccc;
	position:relative;
	border: 1px solid black;
	height: 30px;
	width: 300px;
	padding:0px;
	overflow:hidden;
}

.progress{
	position:absolute;
	height:30px;
	width: 2000px;
}

.progress_completed {
	float:left;
	background-color: #333333;
	height: 30px;
	width: 0px;
	padding: 0px;
}

.progress_message{
	float:left;
	padding-top:5px;
	padding-left:5px;	
}

body
{
	font-family:tahoma;
}

#mainBox
{
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	top:0px;
}

#slideBox
{
	overflow:hidden;
	position:absolute;
	left:0px;
	right:0px;
	bottom:30px;
	top:0px;
}

#slideBox .slide
{
	position:absolute;
	width:100%;
	height:100%;
}

#podcasts
{
	display:block;
	position:absolute;
	left:0px;
	top:50px;
	bottom:0px;
	right:0px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow:auto;
}

#podcasts li
{
	padding:10px;
	font-weight:bold;
	font-size:12px;
	border-bottom: 1px solid #CCCCCC;
}

#podcasts li:hover
{
	font-weight:bold;
	background-color:#0000CC;
	color:#FFFFFF;
	cursor:pointer;
}

#podcastItems
{
	position:absolute;
	top:172px;
	left:0px;
	right:0px;
	bottom:0px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow:auto;
}

#podcastItems li
{
	padding:10px;
	font-weight:bold;
	font-size:12px;
	border-bottom: 1px solid #CCCCCC;
}

#podcastItems li:hover
{
	font-weight:bold;
	background-color:#0000CC;
	color:#FFFFFF;
	cursor:pointer;
}

#preview
{
	position:absolute;
	top:50px;
	left:0px;
	right:0px;
	height:120px;
	padding:0px;
	margin:0px;
	overflow:auto;
	border-bottom:3px solid #CCCCCC;
}

#aboutBox
{
	position:absolute;
	left:0px;
	right:0px;
	font-size:10px;
	bottom:0px;
	padding:10px;
	padding-right:20px;
}
#aboutBox span {
	float:right;

}
#aboutBox a
{
	color:#333333;
}

.title
{
	height:50px;
	top:0px;
	position:absolute;
	left:0px;
	right:0px;
	border-bottom:1px solid #eeeeee;
	background-color:#333333;
}

.title span
{
	display:block;
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
	margin:10px;
	margin-top:13px;
}

.title a.back
{
	position:absolute;
	top:9px;
	width:72px;
	height:28px;
	background:url(../images/back.png);
	right:6px;
}

.title a.back:hover
{
	background:url(../images/back_hover.png);
}

#player
{
	position:absolute;
	left:0px;
	top:50px;
	bottom:0px;
	right:0px;
}

#progBars
{
	position:absolute;
	bottom:150px;
	left:0px;
	text-align:center;
	right:0px;
}
#progBars > div{
	width:300px;
	margin-left:auto;
	margin-right:auto;
}
#autoPlay
{
	position:absolute;
	bottom:20px;
	right:20px;
}

#playerTitle
{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	height:50px;
	
	background-color:#666666;
	font-size:14px;
	color:#FFFFFF;
	padding:20px;
}

#playerActions
{
	position:absolute;
	top:100px;
	left:20px;
	right:20px;
	text-align:center;
}
#nowPlayingHref > a{
	color:#990000;
	font-weight:bold;
	font-size:12px;
}
#nowPlayingHref { float:left ! important; }
a:hover{
	background:#333333;
	color:#FFFFFF ! important;
}
